<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4 overflow-auto ">
   
    <% if (data.length == 0) { %>
     <p class="text-center text-2xl text-gray-500 col-span-full">No documents uploaded yet</p>
    <% } %>
    
    <% for(let doc of data) { %>
            <div class="bg-white rounded-xl shadow-md p-4 flex flex-col items-center border-2 border-gray-400 relative">
              <button class="text-3xl text-teal-600 absolute top-0 left-0" data-public-Id="<%= doc.publicId %>"  data-id="<%= doc._id %>"  delete-btn><i class="fa-solid fa-trash"></i></button>

        <img src="<%= doc.imgPath %>" alt="" class="m-5 object-cover rounded-xl mb-4">
       
        <p class="text-2xl font-black text-gray-600 px-8 py-4 bg-teal-100 rounded-xl">ID: <span class="text-black px-2 font-medium" document-id><%= doc.docsID %></span><i class="fa-solid fa-copy" copyBtn></i></p>


        <div class="mt-3 flex items-center justify-between gap-2">
          <a href="<%= doc.imgPath %>"  class="text-2xl px-8 py-3 bg-emerald-400 text-black rounded hover:bg-emerald-600" download>Download</a>
        </div>

        
      </div>
  <% } %>

  
</div>
